<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Kent Date Enough{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    {% block head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

    {% block layout %}
    <main class="page-content">
        {% block content %}{% endblock %}
    </main>
    {% endblock %}

</body>
</html>
