<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Kent Date Enough{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Jura:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/bolt.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    {% block head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

    {% block layout %}
    <main class="page-content">
        {% block content %}{% endblock %}
    </main>
    {% endblock %}

</body>
</html>
